body {
    background-color: #444444;
    color: white;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

button {
    background-color: #0f0;
    border-radius: 100%;
    width: 125px;
    aspect-ratio: 8/7;
    border: #222 solid 10px;
}

#sounds {
    display: inline-flex;
}

.soundBtn {
    padding: 12.5px;
}

.soundBtn p {
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

iframe {
    width: 100vh;
    height: 100vh;
}
