body {
    /* background-color: #444444; */
    color: white;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

button {
    background-color: #0f0;
    border-radius: 100%;
    width: 125px;
    aspect-ratio: 8/7;
    border: #222 solid 10px;
}

#sounds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.soundBtn {
    padding: 12.5px;
}

.soundBtn p {
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

iframe {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: none;
}

/* FIXED BUTTON IMAGE */
#megaknight {
    background-image: url("mog-shot.jpg");
    background-size: cover;      /* makes the image fill the button */
    background-position: center; /* centers the image */
    background-repeat: no-repeat;
    background-color: transparent; /* removes green without hiding the image */
}

.liam {
    background-image: url("liam.png");
    background-size: cover;      /* makes the image fill the button */
    background-position: center; /* centers the image */
    background-repeat: no-repeat;
    background-color: transparent; /* removes green without hiding the image */
}

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
}
