body {
    background-color: #444444;
    color: white;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: #0f0;
    border-radius: 100%;
    width: 250px;
    aspect-ratio: 1;
}
